@import '../../styles/variables.scss';

.Button {
    width: 100px;
    height: 100px;
    border: 2px solid $shadow;
    border-radius: 50%;
    background: $background;
    transition: 0.2s;
    box-shadow: 
        inset 1px 0 1px 0 $shadow,
        inset -1px 0 1px 0 $shadow;
    font-size: 30px;
    &:hover {
        box-shadow: 
        inset 1px 0 40px 0 $shadow,
        inset -1px 0 40px 0 $shadow;
    }
    a {
        text-decoration: none;
        color: #fff;
        filter: drop-shadow(2px 2px 5px #000);
    }
}

.Quote {
    position: absolute;
    bottom: 25vmin;
    left: -7vmin;
}

.Twitter {
    position: absolute;
    bottom: 25vmin;
    right: -7vmin;
}